/* reset */
html {margin:1em;padding:1em;border:1em;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

html {font-size:100.01%;}
body {
  font-size:75%;
  line-height:1.5;
  color:#222;
  background:#fff;
  text-align:center;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h3 {
  font-size:1.5em;
  line-height:1;
  margin-bottom:1em;
}

label {font-weight:bold;}
select {
  background-color:#fff;
  border-width:1px;
  border-style:solid;
  }
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
input.text, input.title {
  width:300px;padding:5px;
}
input.title {
  font-size:1.5em;
}
form.inline {
  line-height:2;
}
#loggedin {text-align:left;}

select {height:100%;}
